:root {
    --font-primary: "Georgia", sans-serif;
    --standard-gap: 1rem;
   }
   
* {
    font-family: var(--font-primary, system-ui);
}

header, footer {
    padding: var(--standard-gap);
    font-variant: small-caps;
    font-size: larger;
}

h1, h2 {
    font-weight: 500;
    font-variant: small-caps;
    animation: fade 1.5s ease-in-out;
}

.page-header {
    padding: var(--standard-gap);
}

/* Animations, Transitions, and transforms*/
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

video:hover, img:hover, #msg-button:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
}
job-exp:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.01);
}
video:not(:hover), img:not(:hover), #msg-button:not(:hover), job-exp:not(:hover) {
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}

/* Navigation Bar */
nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: var(--standard-gap);
    list-style: none;
    padding: 0;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

nav ul li:hover {
    background-color: #f0f0f0;
    transform: scale(1.05); /* Slightly enlarges row */
}

nav ul li {
    display: block;
    padding: 8px 20px;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
}

a {
    text-decoration: none;
    font-variant: normal;
}

/* Sections */
#home, #bio, #education {
    display: flex;
    padding: var(--standard-gap, 1rem);
    animation: fade 1.5s ease-out;
}

/* Home page blurb and Bio */
welcome-text {
    font-size: x-large;
}

#home, #bio {
    justify-content: space-evenly;
    align-items: center; 
    text-align: left; 
}

/* Education */
#education {
    align-items: flex-start;
    justify-content: space-between;
}

edu {
    flex: 1; 
    max-width: 40%;
}

#courses {
    flex: 1; 
    max-width: 50%;
}

#courses th, #courses td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

/* Pictures of hobbies */
#resume, #hobbies {
    padding: var(--standard-gap, 1rem);
}

#food-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; 
}

/* Experiences */
h3 {
    font-variant: small-caps;
}

job-exp {
    animation: fade 1.5s ease-in-out;
    display: block;
    padding: var(--standard-gap, 1rem);
    margin: 10px;
    background-color: #ffffff;
    border: 2px solid #021218;
    border-radius: 3px;
    text-align: left;
    color: #333;
    font-size: 1.2em;
}

/* Contact */
#contact {
    animation: fade 1.5s ease-in-out;
    padding: var(--standard-gap);
}

#send-msg-part {
    font-variant: small-caps;
    font-size: larger;
}

.contact-lebel {
    padding: var(--standard-gap);
}

.contact-field {
    width: 40%;                  
    padding: 5px 3px;           
    border: 2px solid #ccc;      
    border-radius: 3px;         
    font-size: 16px;            
}

#msg-button, #contact-back {
    display: block;
    padding: 8px 20px;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    background-color: #ffffff9e;
    font-size: 15px;
    font-weight: 300;
}
